.home-bg {
    /* height: calc(100vh - 80px); */
    background-color: #002147;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over-text {
    width: 50%;
}

.text1 {
    font-size: 45px;
    line-height: 1.2;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.text1-high {
    font-weight: bolder;
    font-size: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.landing-img-cont {
    width: 45%;
    margin-left: 70px;
}